
body{
  background-color: #8B7E74;
}

nav{
 
  background:#f9f8f6;
  display: flex;
  justify-content:space-around;
  padding: 15px;
  margin: 20px;
  font-weight: bold;
  align-items: center;

 
 
}

.navLink{
  text-decoration: none; 
  font-family: 'Unbounded',  sans-serif;
  color: #282828;
  font-size: 17px;
}
.navLink:hover{
  color:#829460;
  text-shadow: 1px 1px 1px black;
}

.product{ 
 display: flex;

flex-wrap: wrap;
}

.container{
  display: flex;
  justify-content: center;
}
.container-ferst-page{
  display: flex;
align-items: column;
}

.product-card{
  padding: 2%;

  flex-grow: 1;

  flex-basis: 16%;
}

img{
  border-radius: 20px;
 

}
.hover-image-scale {
  display: inline-block; 
  overflow: hidden; /* Скрываем всё за контуром */
  border-radius: 20px;
}
.hover-image-scale img {
  transition: 1s; /* Время эффекта */
  display: block; 
}
.hover-image-scale img:hover {
  transform: scale(1.2);
  border-radius: 20px; /* Увеличиваем масштаб */
}
.position{
  display:flex;
  flex-direction:column;
}
.btn{
  margin: 20px;
  padding: 13px;
  border-radius: 30px;
  font-size: 20px;
  border: solid 2px #D0B8A8 ;
  font-family: 'Unbounded',  sans-serif;

  text-shadow: 0.3px 0.3px black;

  box-shadow: 2px 2px 2px 2px #004332;
}

.btn:hover{
  transform: scale(1.1);
  background-color: #D0B8A8;


}

h1, h2, h3{
  font-family: 'Unbounded',  sans-serif;
  color:#1b1b1b;
}
.span{
  color:#8B7E74;
  text-shadow: 1px 1px 1px black;
}
.holiday{
  font-family: 'Unbounded',  sans-serif;
  color:#1b1b1b;
  font-size: 30px; 
  font-weight: bolder;
}

.button{
  margin: 10px;
  padding: 13px;
  border-radius: 30px;
  background-color: #1b1b1b;
  font-size: 15px;
}
.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: #DFD3C3;
  bottom: 0;
  left: 0;
  width: 100%;
}
.itemName{
  font-family: 'Unbounded',  sans-serif;
  color:#1b1b1b;
  font-size: 20px;
  text-shadow:0.5px 0.5px 0.5px #8B7E74;
}
.cont{
  display: flex;
  justify-content: center;
}
.text{
  font-family: 'Unbounded',  sans-serif;
  color:#1b1b1b;
  font-size: 25px;
}
.red{
  color: red;
}
.orange{
  color: orange
}

.blue{
  color:#6E85B7 ;
}
.pink{
  color:#F675A8;
}
.white{
  background: white;
  border-radius: 100px;
  box-shadow: 2px 2px 2px 2px white;
}
.footerP{
  color:#1d1d1b;
}
.footerDiv{
  display: flex;
  justify-content: flex-end;
}
.space{
  padding-bottom: 70px;
}

.pageOneP{
  font-family: 'Unbounded',  sans-serif;
  color:#1b1b1b;
  font-size: 20px;
}
.icone{
  display: flex;
  flex-direction: column;
}

.footerPosition{
  display: flex;
  justify-content:space-around;
}
